<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>404310386523-vho4jdc2q5km5imu266pcv1gl2tfljp5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.404310386523-vho4jdc2q5km5imu266pcv1gl2tfljp5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>404310386523-b4nc4ljj43qukrgp1k32sq3pdg7mnftu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA3RMPB8nIacrH_s5M911cx6wkULCZtcDw</string>
	<key>GCM_SENDER_ID</key>
	<string>404310386523</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.carsharingtinder</string>
	<key>PROJECT_ID</key>
	<string>car-sharing-tinder-4f633</string>
	<key>STORAGE_BUCKET</key>
	<string>car-sharing-tinder-4f633.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:404310386523:ios:dcf82844f2024dd0be1c7e</string>
</dict>
</plist>